/*App.css*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
.section {
  padding-top: 80px;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  z-index: 1;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@keyframes borderTracer {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  
  100% {
    opacity: 100%;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}